@import "./base/reset.css";
@import "./base/base.css";

@import "./layout/header.css";
@import "./layout/footer.css";
@import "./layout/section.css";

@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/filters.css";
@import "./components/modal.css";

@import "./pages/home.css";
@import "./pages/catalog.css";
@import "./pages/cart.css";
@import "./pages/recipes.css";
@import "./pages/delivery.css";
@import "./pages/contacts.css";

@import "./responsive.css";